body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(22, 20, 20)
    width: 100%;
    max-width: 1440px;
}

* {
    box-sizing: border-box;
}

/* Container ========== */ 
.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}



/* Header ========== */ 

.nav_h {
    align-items: center;
    padding: 27px; 0px;
    border-bottom: 1px solid #828282;
    display: flex;
    justify-content: center;

}

.header_link {
margin-left: 27px;
color: #828282;
text-decoration: none;
font-size: 18px;
font-weight: 400;
}

.header_link:first-child
{
 margin-left: 0px;

}

.header_link:hover {
 color: black;

}
.photo {
    height: 387px;
    width: 100%;
    max-width: 970px;
    display: flex;
    justify-content: center;
}
.name_title {

}